@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


*{
  padding: 0;
  box-sizing: border-box;
  background-color: #121113;
  color: #E4E6C3;
  font-family: 'Sawarabi Gothic', 'Arial';
  font-size: 15px;
}


#figma {
  position: absolute;
    top: 0;
    left: 0;
  top: 35px;
  left: 85px;
  width: 115px;
  height: 115px;
  border-radius: 120px;
}

#close {
  margin: 5px;
  margin-top: 10px;
  margin-left: 83px;
}

#close2 {
  margin: 5px;
  margin-left: 85px;
}

#close3 {
  margin: 1px;
  margin-left: 85px;
}
